# Logs
logs
*.log

# Dependencies
node_modules

# Build
dist
build
dist-ssr

# Env

# Cache
.cache
.vite

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Misc
*.local
*.tmp
*.sw?